body {
    display: grid;
    grid-template-rows: 1in 1in 1in 1in 1in 1in 1in 1in 1in 1in;
    background-color: white;
    color: black;
    margin-left: 0.18in;
    margin-right: 0.18in;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    font-size: 15px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.variety-title {
    font-size: 17px;
}

.company-title,
.date-title {
    font-size: 15px;
}

.row {
    display: grid;
    grid-template-columns: 2.755in 2.755in 2.755in;
}

.column {
    display: grid;
    grid-template-columns: 0.92in 1fr;
    margin-right: 0.125in;
    padding: 0.10in;
}

img {
    width: 0.8in;
    margin-right: 0.12in;
}